# product catalog insights

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
pd.set_option('display.max_colwidth', None)

In [3]:
pd.set_option('display.max_columns',60)

In [4]:
df_cat = pd.read_csv('tanishq_products.csv')

In [5]:
df_cat.shape

(7062, 60)

In [6]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7062 entries, 0 to 7061
Data columns (total 60 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      7062 non-null   object
 1   additional_image         6749 non-null   object
 2   adult                    7062 non-null   object
 3   availability_date        0 non-null      float64
 4   avlble                   7062 non-null   int64
 5   brand                    7062 non-null   object
 6   business_unit            7062 non-null   object
 7   category                 1335 non-null   object
 8   collection               2849 non-null   object
 9   color                    0 non-null      float64
 10  condition                7062 non-null   object
 11  created_on               7062 non-null   int64
 12  currency                 7062 non-null   object
 13  currency_symbol          7062 non-null   object
 14  description              7055 non-null   object
 15  diamond_clarity          3884 non-null   object
 16  diamond_color            3882 non-null   object
 17  diamond_cut              611 non-null    object
 18  discount_percentage      7062 non-null   int64
 19  expiration_date          0 non-null      float64
 20  full_description         7055 non-null   object
 21  gemstone1                1033 non-null   object
 22  gemstone2                207 non-null    object
 23  gemstone3                59 non-null     object
 24  gemstone4                25 non-null     object
 25  gemstone5                15 non-null     object
 26  gender                   4217 non-null   object
 27  goldkaratage             7061 non-null   float64
 28  google_product_category  7062 non-null   object
 29  gtin                     0 non-null      float64
 30  height                   1563 non-null   object
 31  id                       7062 non-null   object
 32  identifier_exists        7062 non-null   bool
 33  image                    7062 non-null   object
 34  item_group_id            7062 non-null   object
 35  jew_size                 2858 non-null   object
 36  jewellery_type           7062 non-null   object
 37  last_modified_on         7043 non-null   float64
 38  listprice                7062 non-null   float64
 39  metal                    7062 non-null   object
 40  metal_color              7005 non-null   object
 41  mfr_code                 7062 non-null   object
 42  mpn                      7062 non-null   object
 43  name                     7062 non-null   object
 44  occasion                 5884 non-null   object
 45  out_of_shelf             7062 non-null   bool
 46  price                    7062 non-null   float64
 47  price_usd                7062 non-null   float64
 48  product                  7060 non-null   object
 49  product_type             7062 non-null   object
 50  sale_price_usd           7062 non-null   float64
 51  status                   7062 non-null   object
 52  sub_account              7062 non-null   object
 53  subcategories            7062 non-null   object
 54  trendrank                2866 non-null   float64
 55  unit                     78 non-null     object
 56  updated                  7062 non-null   bool
 57  url                      7062 non-null   object
 58  variants                 7062 non-null   object
 59  width                    2387 non-null   object
dtypes: bool(3), float64(11), int64(3), object(43)
memory usage: 3.1+ MB

In [7]:
df_cat.description

0                      Tanishq 18KT Gold and Diamond Stud Earrings
1          Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain
2                   Tanishq 18KT Rose Gold and Diamond Finger Ring
3                 Tanishq 18KT Gold and Diamond Earrings for Women
4              22KT Yellow Gold and Ruby Neckwear in Floral Design
                                   ...
7057    Tanishq 22KT Yellow Gold Drop Earrings with Paisley Design
7058                                       Tanishq 22KT Gold Chain
7059                         Tanishq 18KT Gold and Diamond Pendant
7060              Tanishq 22KT Yellow Gold Stud Earrings for Women
7061                                     Tanishq 22KT Gold Pendant
Name: description, Length: 7062, dtype: object

In [8]:
# df_cat.describe

In [9]:
len(df_cat.columns), df_cat.columns

(60,
 Index(['_id', 'additional_image', 'adult', 'availability_date', 'avlble',
        'brand', 'business_unit', 'category', 'collection', 'color',
        'condition', 'created_on', 'currency', 'currency_symbol', 'description',
        'diamond_clarity', 'diamond_color', 'diamond_cut',
        'discount_percentage', 'expiration_date', 'full_description',
        'gemstone1', 'gemstone2', 'gemstone3', 'gemstone4', 'gemstone5',
        'gender', 'goldkaratage', 'google_product_category', 'gtin', 'height',
        'id', 'identifier_exists', 'image', 'item_group_id', 'jew_size',
        'jewellery_type', 'last_modified_on', 'listprice', 'metal',
        'metal_color', 'mfr_code', 'mpn', 'name', 'occasion', 'out_of_shelf',
        'price', 'price_usd', 'product', 'product_type', 'sale_price_usd',
        'status', 'sub_account', 'subcategories', 'trendrank', 'unit',
        'updated', 'url', 'variants', 'width'],
       dtype='object'))

In [10]:
df_cat['subcategories'].unique(), len(df_cat['subcategories'].unique())
# len(df_cat['listprice'].unique())

(array(['Jeweller', 'Jewellery', 'Diamond', 'Gold', 'Electrify',
        'Smolitaires', 'Sassysilver', 'Rings', 'Greatdiamondsale',
        'tq-mia-rings', 'Electrify classics', 'tq-mia-category',
        'tq-mia-pendantwithchain', 'tq-mia-bangle', 'Mia Classics',
        'Platinum Jewellery', 'Pendants', 'Brooch', 'Earrings',
        'tq-mia-earrings', 'mi-neckwear', 'tq-engagement-rings',
        'tq-mia-neckwear', 'tq-diamond-treats', 'tq-platinum',
        'Plain Jewellery With Stones', 'Gift Cards'], dtype=object),
 27)

In [11]:
df_cat.head()

,_id,additional_image,adult,availability_date,avlble,brand,business_unit,category,collection,color,condition,created_on,currency,currency_symbol,description,diamond_clarity,diamond_color,diamond_cut,discount_percentage,expiration_date,full_description,gemstone1,gemstone2,gemstone3,gemstone4,gemstone5,gender,goldkaratage,google_product_category,gtin,height,id,identifier_exists,image,item_group_id,jew_size,jewellery_type,last_modified_on,listprice,metal,metal_color,mfr_code,mpn,name,occasion,out_of_shelf,price,price_usd,product,product_type,sale_price_usd,status,sub_account,subcategories,trendrank,unit,updated,url,variants,width
0,19691562626688221398263086783120406706,https://staticimg.titan.co.in/Tanishq/Catalog/502998SBHAAA04_2.jpg,No,NaN,0,Tanishq,Jewellery,NaN,NaN,NaN,NEW,1573651855000,INR,&#8377;,Tanishq 18KT Gold and Diamond Stud Earrings,VS,DIA G H COLGRE,NaN,0,NaN,These stud earrings are the perfect finishing touch for your everyday style. Its petite elegance is sure to leave everyone charmed.,Synthetic|2|String||,NaN,NaN,NaN,NaN,Female,18.0,Apparel & Accessories > Jewelry,NaN,NaN,502998SBHAAA042JA000003,False,https://staticimg.titan.co.in/Tanishq/Catalog/502998SBHAAA04_1.jpg,502998SBHAAA04_P,NaN,Diamond Jewellery with Stones,1.573961e+12,4431.0,Gold,Yellow,502998SBHAAA04,502998SBHAAA042JA000003,18KT Gold and Diamond Stud Earrings,Work,True,4431.0,61.42,STUD EARRING,Home > Jeweller,61.42,Active,[tanishq],Jeweller,NaN,NaN,False,/product/tanishq-18kt-gold-and-diamond-stud-earrings-502998sbhaaa04,"{u'2JA000003': {u'price': 4431.0, u'listprice': 4431.0}}",NaN
1,94503287366179615906786364787727986888,https://staticimg.titan.co.in/Mia/Catalog/552819GAHAACZ_2.jpg,No,NaN,1,MIA,Jewellery,tq-mia-collections,Mia Birthstone Pendants,NaN,NEW,1573824234000,INR,&#8377;,Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain,NaN,NaN,NaN,5,NaN,Wrap yourself in an aura of mystery with this elegant piece of jewellery. An exquisite rose pendant on a petite rose gold chain is adorned with bright yellow stones. Pamper the passionate and assertive Scorpio in you with this stylish jewellery.,Cubic Zirconia|2|NA|NA|Round,Cubic Zirconia|1|NA|NA|Round,NaN,NaN,NaN,NaN,14.0,Jewellery,NaN,310 mm,552819GAHAAACZ2BD000278,False,https://staticimg.titan.co.in/Mia/Catalog/552819GAHAACZ_1.jpg,552819GAHAACZ_P,30.48 cm,Gemstone Jewellery,1.576987e+12,16999.0,Gold,Rose Gold,552819GAHAAACZ,552819GAHAAACZ2BD000278,Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain,Daily Wear,False,16149.0,239.02,Chain + Pendant,Home > Jewellery,227.07,Active,"[tanishq, mia]",Jewellery,1.0,millimeters,False,/product/chain-pendant-552819gahaacz,"{u'2BD000278': {u'price': 16149.0, u'listprice': 16999.0}, u'2BD000277': {u'price': 16149.0, u'listprice': 16999.0}}",NaN
2,69101243338530276119601955414893494127,https://staticimg.titan.co.in/Tanishq/Catalog/502999FSZAA02_2.jpg,No,NaN,1,Tanishq,Jewellery,NaN,Contemporary,NaN,NEW,1574255924000,INR,&#8377;,Tanishq 18KT Rose Gold and Diamond Finger Ring,SI2,GH,NaN,0,NaN,"Cast in rose gold and crafted in mdoern design, this ring is simply stunning. It is an ideal match for those classy occasion outfits.",NaN,NaN,NaN,NaN,NaN,NaN,18.0,Apparel & Accessories >\tJewelry > Rings,NaN,NaN,502999FSZLAA022JA005106,False,https://staticimg.titan.co.in/Tanishq/Catalog/502999FSZAA02_1.jpg,502999FSZAA02_P,16.40 mm,Diamond Jewellery,1.576921e+12,10988.0,Gold,Rose,502999FSZLAA02,502999FSZLAA022JA005106,18KT Rose Gold and Diamond Finger Ring,NaN,False,10988.0,161.21,FINGER RING,Home > Diamond,161.21,Active,[tanishq],Diamond,NaN,NaN,False,/product/tanishq-18kt-rose-gold-and-diamond-finger-ring-502999fszaa02,"{u'2JA005106': {u'price': 11493.0, u'listprice': 11493.0}, u'2JA005105': {u'price': 10988.0, u'listprice': 10988.0}}",16.4 mm
3,111190756107460279780897264511128671073,https://staticimg.titan.co.in/Tanishq/Catalog/505001SDWAGA09_1.jpg,No,NaN,1,Tanishq,Jewellery,NaN,NaN,NaN,NEW,1574328084000,INR,&#8377;,Tanishq 18KT Gold and Diamond Earrings for Women,I1 I2,DIA G H COL GREY,NaN,0,NaN,This classic design of these stud earrings makes it the perfect choice for daily wear. It easily complements western as well as ethnic ensembles!,NaN,NaN,NaN,NaN,NaN,Female,18.0,Apparel & Accessories > Jewelry,NaN,NaN,505001SDWAGA092BD005443,False,https://staticimg.titan.co.in/Tanishq/Catalog/505001SDWAGA09_1.jpg,505001SDWAGA09_P,NaN,Studs,1.576825e+12,7688.0,Gold,Yellow,505001SDWAGA09,505001SDWAGA092BD005443,18KT Gold and Diamond Earrings,Daily Wear,False,7688.0,107.84,STUD EARRING,Home > Jeweller,107.84,Active,[tanishq],Jeweller,30.0,NaN,False,/product/tanishq-18kt-gold-and-diamond-earrings-for-women-505001sdwaga09,"{u'2BD005443': {u'price': 7688.0, u'listprice': 7688.0}}",NaN
4,291192703461555102134796862810509904813,https://staticimg.titan.co.in/Tanishq/Catalog/511183NVYAA18_2.jpg,No,NaN,1,Tanishq,Jewellery,NaN,NaN,NaN,NEW,1574335125000,INR,&#8377;,22KT Yellow Gold and Ruby Neckwear in Floral Design,NaN,NaN,NaN,0,NaN,Channel the opulence of royalty with this grand 22KT ruby studded neckpiece. Pair it with your most stunning festive wear for a dazzling effect.,"Ruby|70|Prong|NA|Oval,Pear",NaN,NaN,NaN,NaN,Female,22.0,Apparel & Accessories > Jewelry > Necklaces,NaN,NaN,511183NVYAAA182BA805635,False,https://staticimg.titan.co.in/Tanishq/Catalog/511183NVYAA18_1.jpg,511183NVYAA18_P,NaN,Coloured Stone Jewellery,1.576920e+12,200571.0,Gold,Yellow,511183NVYAAA18,511183NVYAAA182BA805635,Alira Ruby Neckwear,Traditional Wear,False,200571.0,2813.45,NECKLACE,Home > Jeweller,2813.45,Active,[tanishq],Jeweller,1.0,NaN,False,/product/22kt-gold-and-ruby-neckwear-in-a-floral-design-511183nvyaa18,"{u'2BA805635': {u'price': 200571.0, u'listprice': 200571.0}}",NaN

In [12]:
df_cat_selected = df_cat[['_id','brand','mfr_code','category','subcategories','product','name','jewellery_type','avlble','discount_percentage','goldkaratage','occasion','out_of_shelf','price']]

In [13]:
df_cat_selected.shape

(7062, 14)

In [14]:
df_cat_selected.isna().sum()

_id                       0
brand                     0
mfr_code                  0
category               5727
subcategories             0
product                   2
name                      0
jewellery_type            0
avlble                    0
discount_percentage       0
goldkaratage              1
occasion               1178
out_of_shelf              0
price                     0
dtype: int64

In [15]:
# df_cat_selected['category'].unique()
df_cat_selected['subcategories'].unique()
# df_cat_selected.columns

array(['Jeweller', 'Jewellery', 'Diamond', 'Gold', 'Electrify',
       'Smolitaires', 'Sassysilver', 'Rings', 'Greatdiamondsale',
       'tq-mia-rings', 'Electrify classics', 'tq-mia-category',
       'tq-mia-pendantwithchain', 'tq-mia-bangle', 'Mia Classics',
       'Platinum Jewellery', 'Pendants', 'Brooch', 'Earrings',
       'tq-mia-earrings', 'mi-neckwear', 'tq-engagement-rings',
       'tq-mia-neckwear', 'tq-diamond-treats', 'tq-platinum',
       'Plain Jewellery With Stones', 'Gift Cards'], dtype=object)

## Category and Sub-Categories of Data given

In [16]:
display(df_cat_selected[['category','subcategories']])

                category subcategories
0                    NaN      Jeweller
1     tq-mia-collections     Jewellery
2                    NaN       Diamond
3                    NaN      Jeweller
4                    NaN      Jeweller
...                  ...           ...
7057                 NaN      Jeweller
7058                 NaN      Jeweller
7059                 NaN      Jeweller
7060                 NaN      Jeweller
7061                 NaN      Jeweller

[7062 rows x 2 columns]

## Number of Sub-categories for each Category in catalogue

In [17]:
pd.DataFrame(df_cat_selected.groupby('category')['subcategories'].count())

                    subcategories
category
Collections                   299
Gifting                         1
Jeweller                      159
Jewellery                      66
Jewellery Type                  5
Mia                           119
Silver                         19
tq-mia-category               639
tq-mia-collections             12
tq-occasion                    16

## Sub-categories belongs to many other categories

In [18]:
# pd.DataFrame(df_cat_selected.groupby(['category','subcategories']))
# a = df_cat_selected.query('category="nan"')
pd.DataFrame(df_cat_selected.groupby('subcategories')['category'].count())

                             category
subcategories
Brooch                              4
Diamond                             0
Earrings                           13
Electrify                          48
Electrify classics                  1
Gift Cards                          1
Gold                                0
Greatdiamondsale                  159
Jeweller                            1
Jewellery                         754
Mia Classics                      120
Pendants                           11
Plain Jewellery With Stones         1
Platinum Jewellery                  4
Rings                              36
Sassysilver                        19
Smolitaires                       126
mi-neckwear                         2
tq-diamond-treats                   4
tq-engagement-rings                16
tq-mia-bangle                       3
tq-mia-category                     1
tq-mia-earrings                     1
tq-mia-neckwear                     1
tq-mia-pendantwithchain             1
tq-mia-rings                        8
tq-platinum                         0

## Sub-categories having no Parent Category

In [19]:
df_cat_selected[df_cat_selected['category'].isna()][['subcategories' ,'category']]

     subcategories category
0         Jeweller      NaN
2          Diamond      NaN
3         Jeweller      NaN
4         Jeweller      NaN
5         Jeweller      NaN
...            ...      ...
7057      Jeweller      NaN
7058      Jeweller      NaN
7059      Jeweller      NaN
7060      Jeweller      NaN
7061      Jeweller      NaN

[5727 rows x 2 columns]

## Sub-categories with proper parent Category

In [20]:
# df_cat_selected['category'].isna().sum()
df_cat_selected[df_cat_selected['category'].notna()][['subcategories' ,'category']]

          subcategories            category
1             Jewellery  tq-mia-collections
12            Jewellery     tq-mia-category
13            Jewellery     tq-mia-category
19            Jewellery     tq-mia-category
20            Jewellery                 Mia
...                 ...                 ...
7037          Jewellery     tq-mia-category
7038          Jewellery     tq-mia-category
7043  tq-diamond-treats         Collections
7046          Jewellery     tq-mia-category
7048   Greatdiamondsale            Jeweller

[1335 rows x 2 columns]

## Products Having Subcategory but does not belongs to any category

In [21]:
# df_cat_selected.head()
df_cat_selected[df_cat_selected['category'].notna()]
# df_cat_selected[df_cat_selected['subcategories'].isna()]

,_id,brand,mfr_code,category,subcategories,product,name,jewellery_type,avlble,discount_percentage,goldkaratage,occasion,out_of_shelf,price
1,94503287366179615906786364787727986888,MIA,552819GAHAAACZ,tq-mia-collections,Jewellery,Chain + Pendant,Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain,Gemstone Jewellery,1,5,14.0,Daily Wear,False,16149.0
12,265083413322562008168036417945815573024,MIA,552811FWCKAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq Friends of Bride 14KT Yellow Gold Finger Ring with Blue Enamel,OTHERS,1,0,14.0,NaN,False,5499.0
13,220009630360612092655795788553041358085,MIA,552811FAAMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Oval Loops,Plain Gold Jewellery,1,0,14.0,NaN,False,8999.0
19,29819128175999182896943948171358942459,MIA,552817SEOAAA22,tq-mia-category,Jewellery,STUD EARRING,Mia by Tanishq 14KT Yellow & Rose Gold Diamond Stud Earrings,Diamond Jewellery,1,5,14.0,NaN,False,6649.0
20,43388922880115847938459417169779272433,MIA,552818NCGAAACZ,Mia,Jewellery,NECKLACE,Mia Glam by Tanishq 14KT Rose Gold Cubic Zirconia Neckwear with Star Design,Gemstone Jewellery,1,5,14.0,Daily Wear,False,14249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,145230153320475800321750208376618062752,MIA,552811FCPMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Semi-Orb Design And Openwork,Plain Gold Jewellery,1,0,14.0,NaN,False,14999.0
7038,340083617353954179438989919615049036124,MIA,552811FUOMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Hexagon Design,Plain Gold Jewellery,1,0,14.0,NaN,False,6999.0
7043,113429915753017436497972605295201818022,Tanishq,743318FIHRAA04,Collections,tq-diamond-treats,FINGER RING,Rhya Platinum Ring,Platinum Jewellery,0,0,95.0,Engagement,False,47101.0
7046,48318915848144383059582126924802784579,MIA,552811CAAGAA00,tq-mia-category,Jewellery,CHAIN,Mia by Tanishq 14KT Yellow Gold Rolo Chain,Plain Gold Jewellery,1,0,14.0,NaN,False,10999.0
7048,197067397417890131684406446678520400034,Tanishq,501047FABNAA12,Jeweller,Greatdiamondsale,FINGER RING,Anais Ruby Ring,Coloured Stone Jewellery,1,0,18.0,Work Wear,False,11839.0

In [22]:
df_cat_selected.head(2)

,_id,brand,mfr_code,category,subcategories,product,name,jewellery_type,avlble,discount_percentage,goldkaratage,occasion,out_of_shelf,price
0,19691562626688221398263086783120406706,Tanishq,502998SBHAAA04,NaN,Jeweller,STUD EARRING,18KT Gold and Diamond Stud Earrings,Diamond Jewellery with Stones,0,0,18.0,Work,True,4431.0
1,94503287366179615906786364787727986888,MIA,552819GAHAAACZ,tq-mia-collections,Jewellery,Chain + Pendant,Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain,Gemstone Jewellery,1,5,14.0,Daily Wear,False,16149.0

## Number of products belongs to Every Subcategory

In [32]:
df_cat_selected.groupby('subcategories')['name'].count()

subcategories
Brooch                            4
Diamond                         751
Earrings                         13
Electrify                        48
Electrify classics                1
Gift Cards                        1
Gold                            270
Greatdiamondsale                159
Jeweller                       4691
Jewellery                       767
Mia Classics                    120
Pendants                         11
Plain Jewellery With Stones       1
Platinum Jewellery                4
Rings                            36
Sassysilver                      19
Smolitaires                     126
mi-neckwear                       2
tq-diamond-treats                 4
tq-engagement-rings              16
tq-mia-bangle                     3
tq-mia-category                   1
tq-mia-earrings                   1
tq-mia-neckwear                   1
tq-mia-pendantwithchain           1
tq-mia-rings                      8
tq-platinum                       3
Name: name, dtype: int64

## Name of Products from each Subcategory

In [38]:
# df_cat_selected['subcategories']
df_cat_selected.query('subcategories !=0')[['subcategories','name']]

     subcategories                                                     name
0         Jeweller                      18KT Gold and Diamond Stud Earrings
1        Jewellery  Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain
2          Diamond                   18KT Rose Gold and Diamond Finger Ring
3         Jeweller                           18KT Gold and Diamond Earrings
4         Jeweller                                      Alira Ruby Neckwear
...            ...                                                      ...
7057      Jeweller                                  22KT Gold Paisley Drops
7058      Jeweller                                          22KT Gold Chain
7059      Jeweller                            18KT Gold and Diamond Pendant
7060      Jeweller                                Yellow Gold Stud Earrings
7061      Jeweller                                        22KT Gold Pendant

[7062 rows x 2 columns]

## Name of Products Available in Every Subcategories

In [51]:
df_cat_selected.query('subcategories !=0' and 'avlble == 1')[['subcategories','name']]

     subcategories                                                     name
1        Jewellery  Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain
2          Diamond                   18KT Rose Gold and Diamond Finger Ring
3         Jeweller                           18KT Gold and Diamond Earrings
4         Jeweller                                      Alira Ruby Neckwear
5         Jeweller                        Myra Diamond Ring in Wavy Pattern
...            ...                                                      ...
7057      Jeweller                                  22KT Gold Paisley Drops
7058      Jeweller                                          22KT Gold Chain
7059      Jeweller                            18KT Gold and Diamond Pendant
7060      Jeweller                                Yellow Gold Stud Earrings
7061      Jeweller                                        22KT Gold Pendant

[6614 rows x 2 columns]

## Number of Products in each Subcategory whos status is "Available"

In [84]:
df_aval = df_cat_selected[df_cat_selected['avlble'] == 1][['subcategories','product','name']]
pd.DataFrame(df_aval.groupby('subcategories')['product'].count())

                             product
subcategories
Brooch                             4
Diamond                          724
Earrings                          13
Electrify                         46
Electrify classics                 1
Gold                             254
Greatdiamondsale                 145
Jeweller                        4340
Jewellery                        753
Mia Classics                     120
Pendants                          11
Plain Jewellery With Stones        1
Platinum Jewellery                 2
Rings                             36
Sassysilver                       17
Smolitaires                      126
mi-neckwear                        2
tq-diamond-treats                  2
tq-engagement-rings               16

## Name of Products on which there is no Discount at all

In [101]:
# Zero discount subcategories, Maximum discount
df_cat_selected[df_cat_selected['discount_percentage'] == 0][['subcategories','product','name']]

     subcategories       product                                    name
0         Jeweller  STUD EARRING     18KT Gold and Diamond Stud Earrings
2          Diamond   FINGER RING  18KT Rose Gold and Diamond Finger Ring
3         Jeweller  STUD EARRING          18KT Gold and Diamond Earrings
4         Jeweller      NECKLACE                     Alira Ruby Neckwear
5         Jeweller   FINGER RING       Myra Diamond Ring in Wavy Pattern
...            ...           ...                                     ...
7057      Jeweller  DROP EARRING                 22KT Gold Paisley Drops
7058      Jeweller         CHAIN                         22KT Gold Chain
7059      Jeweller       PENDANT           18KT Gold and Diamond Pendant
7060      Jeweller  STUD EARRING               Yellow Gold Stud Earrings
7061      Jeweller       PENDANT                       22KT Gold Pendant

[6077 rows x 3 columns]

## Name of Product on which Tanishq offers Maximum Discount

In [105]:
# df_cat_selected[df_cat_selected.discount_percentage == 20][['subcategories','product','name']]
df_cat_selected[df_cat_selected.discount_percentage == df_cat_selected.discount_percentage.max()][['subcategories','product','name']]

,subcategories,product,name
8,Jewellery,STUD EARRING,Mia by Tanishq Silver Ear Studs with Enamel Coating
9,Jewellery,PENDANT,Mia by Tanishq Silver Pendant with Enamel Coating
32,Jewellery,PENDANT,Mia by Tanishq Friends of Bride 14KT Yellow Gold Diamond And Citrine Pendant with Oval Design
62,Jewellery,STUD EARRING,Mia by Tanishq 14KT Yellow Gold Diamond Stud Earrings with Stylised Teardrop Design
63,Jewellery,FINGER RING,Mia All-Rounders by Tanishq 14KT Yellow Gold Diamond And Pearl Finger Ring with Teardrop Design
...,...,...,...
6973,Jewellery,FINGER RING,Mia by Tanishq Silver Ring with Enamel Coating
6974,Jewellery,FINGER RING,Mia by Tanishq Silver Ring with Enamel Coating
6975,Jewellery,STUD EARRING,Mia by Tanishq Silver Earrings with Enamel Coating
7034,Jewellery,STUD EARRING,Mia by Tanishq Silver Ear Studs with Enamel Coating
7035,Jewellery,HOOP EARRING,Mia by Tanishq Silver Earrings with Enamel Coating

## Name of Product which has highest value of Gold Karate

In [109]:
df_cat_selected.goldkaratage.unique()

array([18., 14., 22., 93., 95., 24., nan])

In [112]:
 df_cat_selected[df_cat_selected.goldkaratage == 95][['subcategories','product','name']]

           subcategories      product                                name
486             Jeweller  FINGER RING           950 Platinum Diamond Ring
556             Jeweller  FINGER RING           950 Platinum Diamond Ring
632   Platinum Jewellery  FINGER RING  Karl 950 Platinum Ring with Ridges
633             Jeweller  FINGER RING           950 Platinum Diamond Ring
659             Jeweller  FINGER RING                   950 Platinum Ring
...                  ...          ...                                 ...
6980            Jeweller        CHAIN                  950 Platinum Chain
6992            Jeweller  FINGER RING     Ileen Platinum and Diamond Ring
6995            Jeweller  FINGER RING          Amber Unisex Platinum Ring
7000            Jeweller  FINGER RING                  Mark Platinum Ring
7043   tq-diamond-treats  FINGER RING                  Rhya Platinum Ring

[131 rows x 3 columns]

## Most Expensive Product from the catalogue

In [129]:
# df_cat_selected.price.max()
df_cat_selected[df_cat_selected.price == df_cat_selected.price.max()][['subcategories','product','name','price']]

,subcategories,product,name,price
4974,Jeweller,FINGER RING,18KT Gold Diamond and Emerald Finger Ring,309420.0

## Name of Products which are OUT OF SHELF now

In [124]:
df_cat_selected[df_cat_selected['out_of_shelf']==True][['subcategories','product','name']]

,subcategories,product,name
0,Jeweller,STUD EARRING,18KT Gold and Diamond Stud Earrings
60,Sassysilver,HOOP EARRING,Mia by Tanishq Silver Earrings for Women in Antique Design Embellished with a Pearl and Latch Back Closure
77,tq-mia-rings,FINGER RING,Mia by Tanishq 14KT Yellow Gold Diamond Finger Ring with Rectangular Design
109,tq-mia-rings,FINGER RING,Mia by Tanishq 14KT Yellow-White And Rose Gold Diamond Finger Ring with Oval Design
142,Electrify,DROP EARRING,Mia by Tanishq 14KT Gold Earrings for Women in Drop Down Style with Triple Charms in Edgy Shapes and Patterns
...,...,...,...
7015,Diamond,DROP EARRING,18KT Gold and Diamond Drop Earrings
7017,Jeweller,STUD EARRING,18KT Gold and Diamond Stud Earrings
7020,Jeweller,PENDANT,Julia Diamond Pendant
7030,Jewellery,BRACELET,Mia Everyday Essentials by Tanishq 14KT Yellow Gold Bracelet
7040,Jeweller,DROP EARRING,18KT Gold and Diamond Drop Earrings

## Products listed Occasion wise

In [114]:
df_cat_selected.occasion.unique()

array(['Work', 'Daily Wear', nan, 'Traditional Wear', 'Engagement',
       'Work Wear', 'Party Wear', 'Traditional', 'Party'], dtype=object)

In [121]:
df_cat_selected.groupby('occasion')[['product']].count()

                  product
occasion
Daily Wear           1725
Engagement            214
Party                  13
Party Wear           1780
Traditional            16
Traditional Wear      895
Work                   18
Work Wear            1222

## List of Products Belongs to "Tanishq" Brand only

In [81]:
df_cat_selected.groupby('brand').get_group('Tanishq')

,_id,brand,mfr_code,category,subcategories,product,name,jewellery_type,avlble,discount_percentage,goldkaratage,occasion,out_of_shelf,price
0,19691562626688221398263086783120406706,Tanishq,502998SBHAAA04,NaN,Jeweller,STUD EARRING,18KT Gold and Diamond Stud Earrings,Diamond Jewellery with Stones,0,0,18.0,Work,True,4431.0
2,69101243338530276119601955414893494127,Tanishq,502999FSZLAA02,NaN,Diamond,FINGER RING,18KT Rose Gold and Diamond Finger Ring,Diamond Jewellery,1,0,18.0,NaN,False,10988.0
3,111190756107460279780897264511128671073,Tanishq,505001SDWAGA09,NaN,Jeweller,STUD EARRING,18KT Gold and Diamond Earrings,Studs,1,0,18.0,Daily Wear,False,7688.0
4,291192703461555102134796862810509904813,Tanishq,511183NVYAAA18,NaN,Jeweller,NECKLACE,Alira Ruby Neckwear,Coloured Stone Jewellery,1,0,22.0,Traditional Wear,False,200571.0
5,23630858986433499833355098901268956128,Tanishq,502999FXJLAA22,NaN,Jeweller,FINGER RING,Myra Diamond Ring in Wavy Pattern,Diamond Jewellery,1,0,18.0,Engagement,False,20900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7057,318190723523298690052808420884407287356,Tanishq,511300DFCABA00,NaN,Jeweller,DROP EARRING,22KT Gold Paisley Drops,Plain Gold Jewellery,1,0,22.0,Traditional Wear,False,20698.0
7058,160365484825501148106455258003579688046,Tanishq,510976CKAECA00,NaN,Jeweller,CHAIN,22KT Gold Chain,Plain Gold Jewellery,1,0,22.0,Work Wear,False,35150.0
7059,248296514207380183494007401330408113693,Tanishq,502998PRGAAA09,NaN,Jeweller,PENDANT,18KT Gold and Diamond Pendant,Diamond Jewellery,1,0,18.0,Work Wear,False,9107.0
7060,108369951452930926235635924968461045238,Tanishq,512214SKMAAA00,NaN,Jeweller,STUD EARRING,Yellow Gold Stud Earrings,Plain Gold Jewellery,1,0,22.0,Party Wear,False,2938.0
7061,276919268625505779998877353334852289330,Tanishq,511518PLFAAA00,NaN,Jeweller,PENDANT,22KT Gold Pendant,Plain Gold Jewellery,1,0,22.0,Traditional Wear,False,10453.0

## List of Products Belongs to "MIA" Brand only

In [82]:
df_cat_selected.groupby('brand').get_group('MIA')

,_id,brand,mfr_code,category,subcategories,product,name,jewellery_type,avlble,discount_percentage,goldkaratage,occasion,out_of_shelf,price
1,94503287366179615906786364787727986888,MIA,552819GAHAAACZ,tq-mia-collections,Jewellery,Chain + Pendant,Mia by Tanishq Scorpio 14KT Rose Gold Pendant and Chain,Gemstone Jewellery,1,5,14.0,Daily Wear,False,16149.0
8,73818985183081591696875640844624601112,MIA,A14018SBOAAA00,NaN,Jewellery,STUD EARRING,Mia by Tanishq Silver Ear Studs with Enamel Coating,Silver Jewellery,1,20,93.0,Daily Wear,False,1599.0
9,158604627834364079324446957448292531538,MIA,A14018PDUAAA00,NaN,Jewellery,PENDANT,Mia by Tanishq Silver Pendant with Enamel Coating,Silver Jewellery,1,20,93.0,Daily Wear,False,1999.0
12,265083413322562008168036417945815573024,MIA,552811FWCKAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq Friends of Bride 14KT Yellow Gold Finger Ring with Blue Enamel,OTHERS,1,0,14.0,NaN,False,5499.0
13,220009630360612092655795788553041358085,MIA,552811FAAMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Oval Loops,Plain Gold Jewellery,1,0,14.0,NaN,False,8999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7034,274502914284861863123364239020850344436,MIA,A14018SBPAAA37,NaN,Jewellery,STUD EARRING,Mia by Tanishq Silver Ear Studs with Enamel Coating,Silver Jewellery,1,20,93.0,Daily Wear,False,2239.0
7035,65838949423245841421306242495160392587,MIA,A14018HBUAAA00,NaN,Jewellery,HOOP EARRING,Mia by Tanishq Silver Earrings with Enamel Coating,Silver Jewellery,1,20,93.0,Daily Wear,False,1599.0
7037,145230153320475800321750208376618062752,MIA,552811FCPMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Semi-Orb Design And Openwork,Plain Gold Jewellery,1,0,14.0,NaN,False,14999.0
7038,340083617353954179438989919615049036124,MIA,552811FUOMAA00,tq-mia-category,Jewellery,FINGER RING,Mia by Tanishq 14KT Yellow Gold Finger Ring with Hexagon Design,Plain Gold Jewellery,1,0,14.0,NaN,False,6999.0
7046,48318915848144383059582126924802784579,MIA,552811CAAGAA00,tq-mia-category,Jewellery,CHAIN,Mia by Tanishq 14KT Yellow Gold Rolo Chain,Plain Gold Jewellery,1,0,14.0,NaN,False,10999.0